{{ header }}

<section id="after-header">
  <div class="container">
  </div>
</section>
<section id="maincontent">
  <div class="container global_messages_home">
    <div class="row">
    </div>
  </div>

  <div id="homepage-content-container">
    <div class="home-1column-full">
      <section class=" slider-eye watch-store " style="">
        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <div class="revolution-slider-container"><div style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px" class="forcefullwidth_wrapper_tp_banner"><div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; background-color: rgb(233, 233, 233); padding: 0px; max-height: 1078px; left: -381.5px; position: absolute; width: 1903px; overflow: visible; height: 1068px;"><div id="rev_slider_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="max-height: 1078px; background-color: rgb(233, 233, 233); background-image: none; height: 1068px;"><ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 1078px;"><li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="off" style="width: 100%; height: 100%; overflow: hidden; top: 0px; left: 0px; visibility: inherit; z-index: 20; opacity: 1;" class="current-sr-slide-visible"><div class="slotholder" style="width:100%;height:100%;" data-duration="undefined" data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined" data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined" data-bgposition="" data-kenburns="undefined" data-easeme="undefined" data-bgfit="" data-bgfitend="undefined" data-owidth="undefined" data-oheight="undefined"><div class="tp-bgimg defaultimg" data-lazyload="/js/am/revslider/rs-plugin/images/transparent.png" data-bgfit="" data-bgposition="" data-bgrepeat="" data-lazydone="undefined" src="/js/am/revslider/rs-plugin/images/transparent.png" data-src="/js/am/revslider/rs-plugin/images/dummy.png" style="background-color: transparent; width: 100%; height: 100%; background-image: url(&quot;/js/am/revslider/rs-plugin/images/transparent.png&quot;); opacity: 1; visibility: inherit;"></div></div><div class="tp-caption  tp-fade  start" data-x="0" data-y="0" data-endspeed="500" data-speed="500" data-start="500" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 2; left: 0.40538px; top: 0px; transform: translate3d(0px, 0px, 0px); visibility: visible; opacity: 1;"><img alt="" src="/image/{{ big_banner.image }}" data-lazyload="/image/{{ big_banner.image }}" style="width: 1902.19px; height: 1069.98px;"></div>
                          <div class="tp-caption largeblackbg sfl tp-resizeme   start" data-x="345" data-y="center" data-voffset="105" data-endspeed="500" data-speed="500" data-start="800" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 3; white-space: pre; min-height: 0px; min-width: 0px; line-height: 69px; border-width: 0px; margin: 0px; padding: 20px; letter-spacing: 0px; font-size: 79px; left: 342.205px; top: 583.526px; transform: translate3d(0px, 0px, 0px); visibility: visible; opacity: 1;">{{ big_banner.meta_title }}</div>
                          <div class="tp-caption medium_bg_red tp-fade tp-resizeme   start" data-x="345" data-y="center" data-voffset="195" data-endspeed="500" data-speed="500" data-start="1100" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 4; min-height: 0px; min-width: 0px; line-height: 20px; border-width: 0px; margin: 0px; padding: 10px; letter-spacing: 0px; font-size: 20px; left: 342.205px; top: 707.191px; transform: translate3d(0px, 0px, 0px); visibility: visible; opacity: 1;">{{ big_banner.meta_keyword }}</div></li></ul><div class="tp-loader spinner0" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div class="tp-bannertimer" style="visibility: hidden; width: 0%;"></div></div></div><div class="tp-fullwidth-forcer" style="width: 100%; height: 1068px;"></div></div><script type="text/javascript">delete window["console"];</script><script type="text/javascript" src="catalog/view/javascript/common/jquery.js"></script>
                <script type="text/javascript" src="catalog/view/javascript/common/jquery_002.js"></script>
                <link type="text/css" rel="stylesheet" href="catalog/view/javascript/common/settings.css">
                <link type="text/css" rel="stylesheet" href="catalog/view/javascript/common/a.css">
                <script type="text/javascript">
                    var setREVStartSize = function(){
                        var	tpopt = new Object();
                        tpopt.startwidth = 1920;
                        tpopt.startheight = 1078;
                        tpopt.container = jQuery('#rev_slider_1');
                        tpopt.fullScreen = 'off';
                        tpopt.forceFullWidth = 'on';

                        tpopt.container.closest('.rev_slider_wrapper').css({height:tpopt.container.height()});tpopt.width=parseInt(tpopt.container.width(),0);tpopt.height=parseInt(tpopt.container.height(),0);tpopt.bw=tpopt.width/tpopt.startwidth;tpopt.bh=tpopt.height/tpopt.startheight;if(tpopt.bh>tpopt.bw)tpopt.bh=tpopt.bw;if(tpopt.bh<tpopt.bw)tpopt.bw=tpopt.bh;if(tpopt.bw<tpopt.bh)tpopt.bh=tpopt.bw;if(tpopt.bh>1){tpopt.bw=1;tpopt.bh=1}if(tpopt.bw>1){tpopt.bw=1;tpopt.bh=1}tpopt.height=Math.round(tpopt.startheight*(tpopt.width/tpopt.startwidth));if(tpopt.height>tpopt.startheight&&tpopt.autoHeight!='on')tpopt.height=tpopt.startheight;if(tpopt.fullScreen=='on'){tpopt.height=tpopt.bw*tpopt.startheight;var cow=tpopt.container.parent().width();var coh=jQuery(window).height();if(tpopt.fullScreenOffsetContainer!=undefined){try{var offcontainers=tpopt.fullScreenOffsetContainer.split(',');jQuery.each(offcontainers,function(e,t){coh=coh-jQuery(t).outerHeight(true);if(coh<tpopt.minFullScreenHeight)coh=tpopt.minFullScreenHeight})}catch(e){}}tpopt.container.parent().height(coh);tpopt.container.height(coh);tpopt.container.closest('.rev_slider_wrapper').height(coh);tpopt.container.closest('.forcefullwidth_wrapper_tp_banner').find('.tp-fullwidth-forcer').height(coh);tpopt.container.css({height:'100%'});tpopt.height=coh}else{tpopt.container.height(tpopt.height);tpopt.container.closest('.rev_slider_wrapper').height(tpopt.height);tpopt.container.closest('.forcefullwidth_wrapper_tp_banner').find('.tp-fullwidth-forcer').height(tpopt.height)};
                    };

                    setREVStartSize();
                    var revapi1;

                    jQuery(document).ready(function(){
                        revapi1 = jQuery('#rev_slider_1').show().revolution({
                            dottedOverlay: 'none',
                            delay: 9000,
                            startwidth: 1920,
                            startheight: 1078,

                            hideThumbs: 200,
                            thumbWidth: 100,
                            thumbHeight: 50,
                            thumbAmount: 1,

                            navigationType: 'bullet',
                            navigationArrows: '',
                            navigationStyle: 'round',

                            touchenabled: 'on',
                            onHoverStop: 'on',

                            swipe_velocity: 0.7,
                            swipe_min_touches: 1,
                            swipe_max_touches: 1,
                            drag_block_vertical: false,

                            spinner: 'spinner0',
                            keyboardNavigation: 'on',

                            navigationHAlign: 'center',
                            navigationVAlign: 'bottom',
                            navigationHOffset: 0,
                            navigationVOffset: 20,

                            soloArrowLeftHalign: 'left',
                            soloArrowLeftValign: 'center',
                            soloArrowLeftHOffset: 20,
                            soloArrowLeftVOffset: 0,

                            soloArrowRightHalign: 'right',
                            soloArrowRightValign: 'center',
                            soloArrowRightHOffset: 20,
                            soloArrowRightVOffset: 0,

                            shadow: 0,
                            fullWidth: 'on',
                            fullScreen: 'off',

                            stopLoop: 'off',
                            stopAfterLoops: -1,
                            stopAtSlide: -1,

                            shuffle: 'off',

                            autoHeight: 'off',

                            forceFullWidth: 'on',

                            hideTimerBar: 'on',

                            hideNavDelayOnMobile: 1500,

                            hideThumbsOnMobile: 'off',
                            hideBulletsOnMobile: 'off',
                            hideArrowsOnMobile: 'off',
                            hideThumbsUnderResolution: 0,

                            hideSliderAtLimit: 0,
                            hideCaptionAtLimit: 0,
                            hideAllCaptionAtLilmit: 0,
                            startWithSlide: 0
                        });
                    });
                </script></div>			</div>
          </div>									</div>
      </section>
      <section class=" fashion-store " style="">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6  padding-5 no-padding-r">
              <div class="row">
                <div class="col-md-12  hidden-sm col-xs-12 line-effect text-colour-sienna link-colour-sienna appear-animation fadeInLeft animated appear-animation-visible" data-appear-animation="fadeInLeft" style="">
                  <div class="promo-banner">
                    <a href="{{ left_banner.meta_description }}"><img alt="" src="/image/{{ left_banner.image }}" class="img-responsive"></a>
                    <div class="text-container text-right">
                      <div class="text-hover">
                        <h1>{{ left_banner.meta_title }}</h1>
                        <h4>{{ left_banner.meta_keywords }}</h4>
                        <a href="{{ left_banner.meta_description }}" class="a-default">SHOP NOW</a>		</div>
                    </div>
                  </div>			</div>
              </div>								</div>
            <div class="col-md-6 ">
              <div class="row">
                <div class="col-md-12 padding-5 col-sm-12 hidden-xs  text-colour-white link-colour-white appear-animation fadeInRight animated appear-animation-visible" data-appear-animation="fadeInRight" style="">
                  <div class="promo-banner">
                    <a href="{{ right_banner.meta_description }}"><img alt="" src="/image/{{ right_banner.image }}" class="img-responsive"></a>
                    <div class="text-container text-left">
                      <div class="text-hover">
                        <h1>{{ right_banner.meta_title }}</h1>
                        <h4>{{ right_banner.meta_keywords }}</h4>
                        <a href="{{ right_banner.meta_description }}" class="a-default">SHOP NOW</a>		</div>
                    </div>
                  </div>			</div>
                <div class="col-md-6 padding-5  no-padding-r col-sm-6 col-xs-12 effect-two text-colour-white appear-animation fadeInRight animated appear-animation-visible" data-appear-animation="fadeInRight" style="">
                  <div class="promo-banner">
                    <a href="https://twitter.com/AMNIELimited"><img alt="Twitter" src="catalog/view/javascript/common/bag_store5.jpg" class="img-responsive"></a>
                    <div class="text-container text-right">
                      <div class="text-hover">
                        <h4>FEED WITH US</h4>
                        <h4>ON <strong>TWITTER</strong></h4>		</div>
                    </div>
                  </div>			</div>
                <div class="col-md-6 padding-5 col-sm-6 col-xs-12 effect-two text-colour-white appear-animation fadeInLeft animated appear-animation-visible" data-appear-animation="fadeInLeft" style="">
                  <div class="promo-banner">
                    <a href="https://www.facebook.com/AMNIEstore"><img alt="Facebook" src="catalog/view/javascript/common/bag_store9.jpg" class="img-responsive"></a>
                    <div class="text-container text-right">
                      <div class="text-hover">
                        <h4>FOLLOW US</h4>
                        <h4>ON <strong>FACEBOOK</strong></h4>		</div>
                    </div>
                  </div>			</div>
              </div>								</div>
          </div>
        </div>
      </section>
      <section class=" fashion-store " style=" padding-top:100px; padding-bottom:87px;">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="row">
                <div class="col-md-12 text-center appear-animation fadeInRight animated appear-animation-visible" data-appear-animation="fadeInRight" style="">
                  <div class="policy">
                    <div class="policy-img"><img class="img-responsive" src="catalog/view/javascript/common/icon_bags1.png" alt=""></div>
                    <h4>FREE SHIPPING</h4>
                    <p>We offer FREE UK shipping on all orders</p>
                  </div>			</div>
                <div class="col-md-12 hidden-lg hidden-md hidden-sm col-xs-12">
                  <div class="separator separator-white-space">
                    <div class="separator-margin" style="margin-top:15px; margin-bottom:15px;">
                      <span><i></i></span>
                    </div>
                  </div>			</div>
              </div>								</div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="row">
                <div class="col-md-12 text-center appear-animation fadeIn animated appear-animation-visible" data-appear-animation="fadeIn" style="">
                  <div class="policy">
                    <div class="policy-img"><img class="img-responsive" src="catalog/view/javascript/common/icon_bags2.png" alt=""></div>
                    <h4>NEED ASSISTANCE?</h4>
                    <p>Not sure how to get your AMNIE product to work properly?</p>
                  </div>			</div>
                <div class="col-md-12 hidden-lg hidden-md hidden-sm col-xs-12">
                  <div class="separator separator-white-space">
                    <div class="separator-margin" style="margin-top:15px; margin-bottom:15px;">
                      <span><i></i></span>
                    </div>
                  </div>			</div>
              </div>								</div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="row">
                <div class="col-md-12 text-center appear-animation fadeInLeft animated appear-animation-visible" data-appear-animation="fadeInLeft" style="">
                  <div class="policy">
                    <div class="policy-img"><img class="img-responsive" src="catalog/view/javascript/common/icon_bags3.png" alt=""></div>
                    <h4>MONEY BACK GUARANTEE</h4>
                    <p>30-day money-back guarantee for any reason</p>
                  </div>			</div>
              </div>								</div>
          </div>
        </div>
      </section>
      <section class=" bag-store " style="background-color: #f5f5f5;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-12 no-padding text-colour-white link-colour-white appear-animation fadeInLeft animated appear-animation-visible" data-appear-animation="fadeInLeft" style="">
                  <div class="promo-banner">
                    <a href="{{ list1.category.meta_description }}"><img alt="HD1000" src="/image/{{ list1.category.image }}" class="img-responsive"></a>
                    <div class="text-container text-center">
                      <div class="text-hover">
                        <h2 class="title-category">{{ list1.category.meta_title }}</h2>
                        <a class="a-default" href="{{ list1.category.meta_description }}">VIEW</a>		</div>
                    </div>
                  </div>			</div>
              </div>								</div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="separator separator-white-space">
                    <div class="separator-margin" style="margin-top:37px; margin-bottom:45px;">
                      <span><i></i></span>
                    </div>
                  </div>			</div>
                <div class="col-md-12 appear-animation fadeInRight animated appear-animation-visible" data-appear-animation="fadeInRight" style="">


                  <div class="row">
                    <div class="products-grid product-attribute">
                      <div class="owl-carousel products-carousel product-category-tab row-3 owl-theme" id="new_products" style="display: block; opacity: 1;">

                        <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1904px; left: 0px; display: block;"><div class="owl-item" style="width: 952px;"><div class="item">

                                {% for i in list1.home_sale_product %}
                                  <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-content">
                                      <div class="product-top">
                                        <a href="{{ i.href }}" title="{{ i.meta_title }}" class="product-image">
                                          <img src="/image/{{ i.image }}" alt="{{ i.meta_title }}" class="img-responsive">
                                        </a>
                                        <div class="product-label new-label"><span class="new">New</span></div><div class="product-label sale-label"><span class="sale">Sale</span></div>						<div class="controls">
                                          <div class="add-to-cart">
                                          </div>
                                          <ul class="icon-links pull-right">
                                            <li><button type="button" title="Add to Compare" ><em class="fa fa-retweet"></em></button></li>
                                          </ul>
                                        </div>
                                      </div>
                                      <div class="product-desc">
                                        <h4 class="product-name"><a href="{{ i.href }}" title="Wireless Portable Speaker - Black )">{{ i.meta_title }}</a></h4>

                                        {#<div class="ratings">#}
                                          {#<div class="rating-box">#}
                                            {#<div class="rating" style=""></div>#}
                                          {#</div>#}
                                          {#<!--span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='/review/product/list/id/93/'; return false;">0 Review(s)</a></span-->#}
                                        {#</div>#}



                                        <div class="price-box">

                                          <p class="old-price">
                <span class="price" id="old-price-93-widget-new-grid">
                    {{ i.price }}                </span>
                                          </p>

                                          <p class="special-price">
                <span class="price" id="product-price-93-widget-new-grid">
                    {{ i.special }}                </span>
                                          </p>


                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                {% endfor %}
                                {#<div class="col-md-4 col-sm-6 col-xs-12">#}
                                  {#<div class="product-content">#}
                                    {#<div class="product-top">#}
                                      {#<a href="/wireless-portable-speaker-black.html" title="Wireless Portable Speaker - Black " class="product-image">#}
                                        {#<img src="catalog/view/javascript/common/85902339_1__002.jpg" alt="Wireless Portable Speaker - Black " class="img-responsive">#}
                                        {#<img src="catalog/view/javascript/common/85902339_1_.jpg" alt="Wireless Portable Speaker - Black " class="img-responsive img-two">#}
                                      {#</a>#}
                                      {#<div class="product-label new-label"><span class="new">New</span></div><div class="product-label sale-label"><span class="sale">Sale</span></div>						<div class="controls">#}
                                        {#<div class="add-to-cart">#}
                                        {#</div>#}
                                        {#<ul class="icon-links pull-right">#}
                                          {#<li><button type="button" title="Add to Compare" onclick="setLocation('/catalog/product_compare/add/product/93/uenc/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8,/form_key/53tgQVLILCtqQD1h/')"><em class="fa fa-retweet"></em></button></li>#}
                                        {#</ul>#}
                                      {#</div>#}
                                    {#</div>#}
                                    {#<div class="product-desc">#}
                                      {#<h4 class="product-name"><a href="/wireless-portable-speaker-black.html" title="Wireless Portable Speaker - Black )">Wireless Portable Speaker - Black </a></h4>#}

                                      {#<div class="ratings">#}
                                        {#<div class="rating-box">#}
                                          {#<div class="rating" style=""></div>#}
                                        {#</div>#}
                                        {#<!--span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='/review/product/list/id/93/'; return false;">0 Review(s)</a></span-->#}
                                      {#</div>#}



                                      {#<div class="price-box">#}

                                        {#<p class="old-price">#}
                {#<span class="price" id="old-price-93-widget-new-grid">#}
                    {#£29.99                </span>#}
                                        {#</p>#}

                                        {#<p class="special-price">#}
                {#<span class="price" id="product-price-93-widget-new-grid">#}
                    {#£13.99                </span>#}
                                        {#</p>#}


                                      {#</div>#}

                                    {#</div>#}
                                  {#</div>#}
                                {#</div>#}




                                {#<div class="col-md-4 col-sm-6 col-xs-12">#}
                                  {#<div class="product-content">#}
                                    {#<div class="product-top">#}
                                      {#<a href="/AMNIE-earphones-with-microphone.html" title="YSM1000 High Definition In-ear Headphones - With Microphone" class="product-image">#}
                                        {#<img src="catalog/view/javascript/common/img_0935.jpg" alt="YSM1000 High Definition In-ear Headphones - With Microphone" class="img-responsive">#}
                                        {#<img src="catalog/view/javascript/common/img_0935_002.jpg" alt="YSM1000 High Definition In-ear Headphones - With Microphone" class="img-responsive img-two">#}
                                      {#</a>#}
                                      {#<div class="product-label new-label"><span class="new">New</span></div><div class="product-label sale-label"><span class="sale">Sale</span></div>						<div class="controls">#}
                                        {#<div class="add-to-cart">#}
                                          {#<button type="button" title="Add to Cart" class="btn btn-cart btn-default btn-xs" onclick="setLocation('/checkout/cart/add/uenc/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8,/product/89/form_key/53tgQVLILCtqQD1h/')"><i class="fa fa-shopping-cart"></i>Add to Cart</button>#}
                                        {#</div>#}
                                        {#<ul class="icon-links pull-right">#}
                                          {#<li><button type="button" title="Add to Compare" onclick="setLocation('/catalog/product_compare/add/product/89/uenc/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8,/form_key/53tgQVLILCtqQD1h/')"><em class="fa fa-retweet"></em></button></li>#}
                                        {#</ul>#}
                                      {#</div>#}
                                    {#</div>#}
                                    {#<div class="product-desc">#}
                                      {#<h4 class="product-name"><a href="/AMNIE-earphones-with-microphone.html" title="YSM1000 High Definition In-ear Headphones - With Microphone)">YSM1000 High Definition In-ear Headphones - With Microphone</a></h4>#}

                                      {#<div class="ratings">#}
                                        {#<div class="rating-box">#}
                                          {#<div class="rating" style=""></div>#}
                                        {#</div>#}
                                        {#<!--span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='/review/product/list/id/89/'; return false;">0 Review(s)</a></span-->#}
                                      {#</div>#}



                                      {#<div class="price-box">#}

                                        {#<p class="old-price">#}
                {#<span class="price" id="old-price-89-widget-new-grid">#}
                    {#£39.99                </span>#}
                                        {#</p>#}

                                        {#<p class="special-price">#}
                {#<span class="price" id="product-price-89-widget-new-grid">#}
                    {#£24.99                </span>#}
                                        {#</p>#}


                                      {#</div>#}

                                    {#</div>#}
                                  {#</div>#}
                                {#</div>#}




                                {#<div class="col-md-4 col-sm-6 col-xs-12 row-2-first">#}
                                  {#<div class="product-content">#}
                                    {#<div class="product-top">#}
                                      {#<a href="/bt1050-bluetooth-sports-in-ear-headphones.html" title="BT1050 Bluetooth Sports In-Ear Headphones" class="product-image">#}
                                        {#<img src="catalog/view/javascript/common/img_0016_1.jpg" alt="BT1050 Bluetooth Sports In-Ear Headphones" class="img-responsive">#}
                                        {#<img src="catalog/view/javascript/common/img_0016_1_002.jpg" alt="BT1050 Bluetooth Sports In-Ear Headphones" class="img-responsive img-two">#}
                                      {#</a>#}
                                      {#<div class="product-label new-label"><span class="new">New</span></div><div class="product-label sale-label"><span class="sale">Sale</span></div>						<div class="controls">#}
                                        {#<div class="add-to-cart">#}
                                          {#<button type="button" title="Add to Cart" class="btn btn-cart btn-default btn-xs" onclick="setLocation('/checkout/cart/add/uenc/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8,/product/7/form_key/53tgQVLILCtqQD1h/')"><i class="fa fa-shopping-cart"></i>Add to Cart</button>#}
                                        {#</div>#}
                                        {#<ul class="icon-links pull-right">#}
                                          {#<li><button type="button" title="Add to Compare" onclick="setLocation('/catalog/product_compare/add/product/7/uenc/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8,/form_key/53tgQVLILCtqQD1h/')"><em class="fa fa-retweet"></em></button></li>#}
                                        {#</ul>#}
                                      {#</div>#}
                                    {#</div>#}
                                    {#<div class="product-desc">#}
                                      {#<h4 class="product-name"><a href="/bt1050-bluetooth-sports-in-ear-headphones.html" title="BT1050 Bluetooth Sports In-Ear Headphones)">BT1050 Bluetooth Sports In-Ear Headphones</a></h4>#}

                                      {#<div class="ratings">#}
                                        {#<div class="rating-box">#}
                                          {#<div class="rating" style=" width:98% "></div>#}
                                        {#</div>#}
                                        {#<!--span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='/review/product/list/id/7/'; return false;">8 Review(s)</a></span-->#}
                                      {#</div>#}



                                      {#<div class="price-box">#}

                                        {#<p class="old-price">#}
                {#<span class="price" id="old-price-7-widget-new-grid">#}
                    {#£69.99                </span>#}
                                        {#</p>#}

                                        {#<p class="special-price">#}
                {#<span class="price" id="product-price-7-widget-new-grid">#}
                    {#£29.99                </span>#}
                                        {#</p>#}


                                      {#</div>#}

                                    {#</div>#}
                                  {#</div>#}
                                {#</div>#}
                              </div></div></div></div>
                        <div class="owl-controls clickable" style="display: none;"><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
                    </div>
                  </div>
                  <script type="text/javascript">
                      initSlider('new_products', 1, false, false, true, false);
                  </script>
                </div>
              </div>								</div>
          </div>
        </div>
      </section>
      <section class=" bag-store " style="background-color: #f5f5f5;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="separator separator-white-space">
                    <div class="separator-margin" style="margin-top:37px; margin-bottom:45px;">
                      <span><i></i></span>
                    </div>
                  </div>			</div>
                <div class="col-md-12 appear-animation fadeInLeft animated appear-animation-visible" data-appear-animation="fadeInLeft" style="">

                 {% if list2.home_sale_product %}
                  <ul class="products-grid row-3 row" id="rate_product_container">
                    {% for i in list2.home_sale_product %}
                    <li class="item col-md-4 col-sm-6 col-xs-6  first-row-item ">
                      <div class="product-content">
                        <div class="product-top">
                          <a href="{{  i.href }}" title="{{ i.meta_title }}" class="product-image">
                            <img src="/image/{{ i.image }}" alt="{{ i.meta_title }}" class="img-responsive">
                          </a>
                          <div class="product-label sale-label"><span class="sale">Sale</span></div>						<div class="controls">
                            <div class="add-to-cart">
                              <button type="button" title="Add to Cart" class="btn btn-cart btn-default btn-xs"><i class="fa fa-shopping-cart"></i>Add to Cart</button>
                            </div>
                            <ul class="icon-links pull-right">
                              <li><button type="button" title="Add to Compare"><em class="fa fa-retweet"></em></button></li>
                            </ul>
                          </div>
                        </div>
                        <div class="product-desc">
                          <h4 class="product-name"><a href="{{ i.image }}" title="{{ i.meta_title }}">{{  i.meta_title }}</a></h4>

                          {#<div class="ratings">#}
                            {#<div class="rating-box">#}
                              {#<div class="rating" style=" width:100% "></div>#}
                            {#</div>#}
                            {#<!--span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='/review/product/list/id/115/'; return false;">4 Review(s)</a></span-->#}
                          {#</div>#}



                          <div class="price-box">

                            <p class="old-price">
                <span class="price" id="old-price-115-widget-new-grid">
                    {{ i.price }}                </span>
                            </p>

                            <p class="special-price">
                <span class="price" id="product-price-115-widget-new-grid">
                    {{ i.special }}                </span>
                            </p>


                          </div>

                        </div>
                      </div>
                    </li>
                  </ul>
                  {% endfor %}
                 {% endif %}
                  {#<ul class="products-grid row-3 row" id="rate_product_container">#}
                    {#<li class="item col-md-4 col-sm-6 col-xs-6  first-row-item ">#}
                      {#<div class="product-content">#}
                        {#<div class="product-top">#}
                          {#<a href="/AMNIE-bt1010-wireless-bluetooth-headphones-earphones-for-sports.html" title="AMNIE BT1010 Wireless Bluetooth Headphones Earphones for Sports" class="product-image">#}
                            {#<img src="catalog/view/javascript/common/img_8420_002.jpg" alt="AMNIE BT1010 Wireless Bluetooth Headphones Earphones for Sports" class="img-responsive">#}
                            {#<img src="catalog/view/javascript/common/img_8420.jpg" alt="AMNIE BT1010 Wireless Bluetooth Headphones Earphones for Sports" class="img-responsive img-two">#}
                          {#</a>#}
                          {#<div class="product-label sale-label"><span class="sale">Sale</span></div>						<div class="controls">#}
                            {#<div class="add-to-cart">#}
                              {#<button type="button" title="Add to Cart" class="btn btn-cart btn-default btn-xs" onclick="setLocation('/checkout/cart/add/uenc/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8,/product/115/form_key/53tgQVLILCtqQD1h/')"><i class="fa fa-shopping-cart"></i>Add to Cart</button>#}
                            {#</div>#}
                            {#<ul class="icon-links pull-right">#}
                              {#<li><button type="button" title="Add to Compare" onclick="setLocation('/catalog/product_compare/add/product/115/uenc/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8,/form_key/53tgQVLILCtqQD1h/')"><em class="fa fa-retweet"></em></button></li>#}
                            {#</ul>#}
                          {#</div>#}
                        {#</div>#}
                        {#<div class="product-desc">#}
                          {#<h4 class="product-name"><a href="/AMNIE-bt1010-wireless-bluetooth-headphones-earphones-for-sports.html" title="AMNIE BT1010 Wireless Bluetooth Headphones Earphones for Sports)">AMNIE BT1010 Wireless Bluetooth Headphones Earphones for Sports</a></h4>#}

                          {#<div class="ratings">#}
                            {#<div class="rating-box">#}
                              {#<div class="rating" style=" width:100% "></div>#}
                            {#</div>#}
                            {#<!--span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='/review/product/list/id/115/'; return false;">4 Review(s)</a></span-->#}
                          {#</div>#}



                          {#<div class="price-box">#}

                            {#<p class="old-price">#}
                {#<span class="price" id="old-price-115-widget-new-grid">#}
                    {#£39.99                </span>#}
                            {#</p>#}

                            {#<p class="special-price">#}
                {#<span class="price" id="product-price-115-widget-new-grid">#}
                    {#£24.99                </span>#}
                            {#</p>#}


                          {#</div>#}

                        {#</div>#}
                      {#</div>#}
                    {#</li>#}
                    {#<li class="item col-md-4 col-sm-6 col-xs-6 ">#}
                      {#<div class="product-content">#}
                        {#<div class="product-top">#}
                          {#<a href="/AMNIE-dc950-high-definition-driver-earphones-headphones-red.html" title="DC950 High Definition Driver Earphones - Red" class="product-image">#}
                            {#<img src="catalog/view/javascript/common/85763296_1__002.jpg" alt="DC950 High Definition Driver Earphones - Red" class="img-responsive">#}
                            {#<img src="catalog/view/javascript/common/85763296_1_.jpg" alt="DC950 High Definition Driver Earphones - Red" class="img-responsive img-two">#}
                          {#</a>#}
                          {#<div class="product-label sale-label"><span class="sale">Sale</span></div>						<div class="controls">#}
                            {#<div class="add-to-cart">#}
                              {#<button type="button" title="Add to Cart" class="btn btn-cart btn-default btn-xs" onclick="setLocation('/checkout/cart/add/uenc/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8,/product/3/form_key/53tgQVLILCtqQD1h/')"><i class="fa fa-shopping-cart"></i>Add to Cart</button>#}
                            {#</div>#}
                            {#<ul class="icon-links pull-right">#}
                              {#<li><button type="button" title="Add to Compare" onclick="setLocation('/catalog/product_compare/add/product/3/uenc/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8,/form_key/53tgQVLILCtqQD1h/')"><em class="fa fa-retweet"></em></button></li>#}
                            {#</ul>#}
                          {#</div>#}
                        {#</div>#}
                        {#<div class="product-desc">#}
                          {#<h4 class="product-name"><a href="/AMNIE-dc950-high-definition-driver-earphones-headphones-red.html" title="DC950 High Definition Driver Earphones - Red)">DC950 High Definition Driver Earphones - Red</a></h4>#}

                          {#<div class="ratings">#}
                            {#<div class="rating-box">#}
                              {#<div class="rating" style=" width:100% "></div>#}
                            {#</div>#}
                            {#<!--span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='/review/product/list/id/3/'; return false;">3 Review(s)</a></span-->#}
                          {#</div>#}



                          {#<div class="price-box">#}

                            {#<p class="old-price">#}
                {#<span class="price" id="old-price-3-widget-new-grid">#}
                    {#£16.99                </span>#}
                            {#</p>#}

                            {#<p class="special-price">#}
                {#<span class="price" id="product-price-3-widget-new-grid">#}
                    {#£12.99                </span>#}
                            {#</p>#}


                          {#</div>#}

                        {#</div>#}
                      {#</div>#}
                    {#</li>#}
                    {#<li class="item col-md-4 col-sm-6 col-xs-6  row-2-first">#}
                      {#<div class="product-content">#}
                        {#<div class="product-top">#}
                          {#<a href="/AMNIE-noise-isolating-earphones-headphones-red.html" title="AMNIE RK300 in ear Headphones Noise Isolating Comfort fit Earphones for iPhone, iPad, iPod, Mp3 Players, Samsung etc - Red" class="product-image">#}
                            {#<img src="catalog/view/javascript/common/85763947_1__002.jpg" alt="AMNIE RK300 in ear Headphones Noise Isolating Comfort fit Earphones for iPhone, iPad, iPod, Mp3 Players, Samsung etc - Red" class="img-responsive">#}
                            {#<img src="catalog/view/javascript/common/85763947_1_.jpg" alt="AMNIE RK300 in ear Headphones Noise Isolating Comfort fit Earphones for iPhone, iPad, iPod, Mp3 Players, Samsung etc - Red" class="img-responsive img-two">#}
                          {#</a>#}
                          {#<div class="product-label sale-label"><span class="sale">Sale</span></div>						<div class="controls">#}
                            {#<div class="add-to-cart">#}
                            {#</div>#}
                            {#<ul class="icon-links pull-right">#}
                              {#<li><button type="button" title="Add to Compare" onclick="setLocation('/catalog/product_compare/add/product/5/uenc/aHR0cDovL3d3dy5iZXRyb25zdG9yZS5jby51ay8,/form_key/53tgQVLILCtqQD1h/')"><em class="fa fa-retweet"></em></button></li>#}
                            {#</ul>#}
                          {#</div>#}
                        {#</div>#}
                        {#<div class="product-desc">#}
                          {#<h4 class="product-name"><a href="/AMNIE-noise-isolating-earphones-headphones-red.html" title="AMNIE RK300 in ear Headphones Noise Isolating Comfort fit Earphones for iPhone, iPad, iPod, Mp3 Players, Samsung etc - Red)">AMNIE RK300 in ear Headphones Noise Isolating Comfort fit Earphones for iPhone, iPad, iPod, Mp3 Players, Samsung etc - Red</a></h4>#}

                          {#<div class="ratings">#}
                            {#<div class="rating-box">#}
                              {#<div class="rating" style=" width:100% "></div>#}
                            {#</div>#}
                            {#<!--span class="amount"><a href="#" onclick="var t = opener ? opener.window : window; t.location.href='/review/product/list/id/5/'; return false;">1 Review(s)</a></span-->#}
                          {#</div>#}



                          {#<div class="price-box">#}

                            {#<p class="old-price">#}
                {#<span class="price" id="old-price-5-widget-new-grid">#}
                    {#£24.99                </span>#}
                            {#</p>#}

                            {#<p class="special-price">#}
                {#<span class="price" id="product-price-5-widget-new-grid">#}
                    {#£10.99                </span>#}
                            {#</p>#}


                          {#</div>#}

                        {#</div>#}
                      {#</div>#}
                    {#</li>#}

                  {#</ul>#}

                </div>
              </div>								</div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-md-12 no-padding text-colour-white link-colour-white appear-animation fadeInRight animated appear-animation-visible" data-appear-animation="fadeInRight" style="">
                  <div class="promo-banner">
                    <a href="{{ list2.category.meta_description }}"><img src="/image/{{ list2.category.image }}" class="img-responsive"></a>
                    <div class="text-container text-center">
                      <div class="text-hover">
                        <h2 class="title-category">{{ list2.category.name }}</h2>
                        <a class="a-default" href="{{ list2.category.meta_description }}">VIEW</a>		</div>
                    </div>
                  </div>			</div>
              </div>								</div>
          </div>
        </div>
      </section>
      <section class=" " style=" padding-top:75px; padding-bottom:110px;">
        <div class="container">

          <div class="row">
            <div class="col-md-12 text-center col-sm-12 col-xs-12 appear-animation fadeInUp animated appear-animation-visible" data-appear-animation="fadeInUp" style="">
              <h2 class="title-content"><span>AMNIE</span></h2>
              <h4><span class="color-gray">Listen to your favourite music even when
you're on the move with our headphones and earphones. With great sound
quality and a comfortable fit, our headphones and earphones will fit
most mp3 players, perfect for whilst out jogging.</span></h4>			</div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="separator separator-white-space">
                <div class="separator-margin" style="margin-top:23px; margin-bottom:24px;">
                  <span><i></i></span>
                </div>
              </div>			</div>
            <div class="col-md-12 text-center col-sm-12 col-xs-12">
              <a href="/earphones-headphones.html" class="a-default">VIEW ALL EARPHONES</a>			</div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="separator separator-white-space">
                <div class="separator-margin" style="margin-top:23px; margin-bottom:24px;">
                  <span><i></i></span>
                </div>
              </div>			</div>
          </div>									</div>
      </section>
      <section class=" text-center video-background " style="background-image: url(&quot;catalog/view/javascript/common/bg_video_bgru.jpg&quot;); background-repeat: no-repeat; padding-top: 150px; padding-bottom: 150px; position: relative;"><div class="mbYTP_wrapper" id="wrapper_mbYTP_bg-video-player" style="position: absolute; z-index: 0; min-width: 100%; min-height: 100%; left: 0px; top: 0px; overflow: hidden; opacity: 0;"><div id="mbYTP_bg-video-player" class="playerBox" style="position: absolute; z-index: 0; width: 100%; height: 100%; top: 0px; left: 0px; overflow: hidden; opacity: 1;"></div><div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" class="YTPOverlay"></div></div>
        <div class="container-fluid" style="position: relative;">

          <div class="row">
            <div class="col-md-12">
              <div id="bg-video-player" class="player mb_YTPlayer" data-property="{videoURL:'https://www.youtube.com/watch?v=ntPQCY2wrEQ',containment:'.video-background',startAt:0,autoPlay:false,loop:true,opacity:1, ratio: 3/1, vol: 1,showControls:true,stopMovieOnBlur:false}" style="display: none;">
              </div>
              <button class="btn-play" type="button"><em class="fa fa-play">&nbsp;</em></button>
              <button class="btn-pause btn-hide" type="button"><em class="fa fa-pause">&nbsp;</em></button>
              <div class="text-video-player text-colour-white">
                <p>&nbsp;</p>
                <h1>Product Reviews</h1>
                <p style="font-size: 16px;">YSM1000</p>
              </div>
              <div class="menu-video">
                <button class="btn-mute" type="button"><em class="fa fa-volume-off">&nbsp;</em></button>
                <button class="btn-volume" type="button"><em class="fa fa-volume-up">&nbsp;</em></button>
              </div>			</div>
          </div>									</div>
      </section>
      <section class=" " style="">
        <div class="container">

          <div class="row">
          </div>									</div>
      </section>
    </div>				</div>
</section>





<!--
				<footer id="footer">
			<div id="footer5" class="footer5">
	<section class="top-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 links_about">
					<ul>
<li><a href="/portable-wireless-bluetooth-speakers.html">Speakers</a></li>
<li><a href="/earphones-headphones.html">Earphones</a></li>
<li><a href="/mobile-accessories.html">Accessories</a></li>
<li><a href="/cables.html">Cables</a></li>
</ul>				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 logo-5">
					<a href="#"><img class="img-responsive" alt="" src="catalog/view/javascript/common/logo_1.png" height="140px"></a>				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 social-icon-link">
					<h4>SOCIALIZE WITH US</h4>
<ul>
<li><a href="https://www.facebook.com/AMNIEstore"><em class="fa fa-facebook">&nbsp;</em></a></li>
<li><a href="https://twitter.com/AMNIELimited"><em class="fa fa-twitter">&nbsp;</em></a></li>
<li><a href="https://plus.google.com/b/106616803212588439842"><em class="fa fa-google-plus">&nbsp;</em></a></li>
</ul>
				</div>
			</div>
		</div>
	</section>
    <section class="middle-footer">
        <div class="container">
            <div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12 logo-footer mobile-footer">
					<h4>Customer Service</h4>
<p><a href="/contacts">Contact Form</a></p>				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 mobile-footer">
					<h4>Account</h4>
<ul class="account">
<li><a href="/customer/account/">My Account</a></li>
<li><a href="/checkout/cart/">Checkout</a></li>
<li><a href="/sales/order/history/">Order History</a></li>
<li><a href="/deals/">Specials</a></li>
</ul>				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 mobile-footer row-2sm-first">
					<h4>Information</h4>
<ul class="infomation">
<li><a href="/about-us/">About Us</a></li>
<li><a href="/contacts/">Contact Us</a></li>
<li><a href="/returns-policy/">Delivery Information</a></li>
<li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
</ul>				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 mobile-footer">
					<h4>Newsletter</h4>

<p><link href="catalog/view/javascript/common/slim-10_7.css" rel="stylesheet" type="text/css"></p>
<style type="text/css"><!--
#mc_embed_signup{background:#2a2a2a; clear:left; font:14px Helvetica,Arial,sans-serif; color:#fff}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup"><form id="mc-embedded-subscribe-form" class="validate" action="//AMNIEstore.us12.list-manage.com/subscribe/post?u=c5bad91f37dc76de407e02bdc&amp;id=3d041394a1" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
<div id="mc_embed_signup_scroll"><input id="mce-EMAIL" class="email" style="min-width: 260px; color: #2a2a2a;" placeholder="email address" required="" name="EMAIL" type="email">

<div style="position: absolute; left: -5000px;"><input name="b_c5bad91f37dc76de407e02bdc_3d041394a1" type="text"></div>
<div class="clear"><input id="mc-embedded-subscribe" class="button" value="Subscribe" name="subscribe" type="submit"></div>
</div>
</form></div>

<p>Stay updated on the latest special offers!</p>
				</div>
            </div>
        </div>
    </section>
    <section class="bottom-footer">
        <div class="container">
            <div class="row">
				<div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 pull-right mobile-center">
					<div class="pull-right">
											</div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 mobile-center">
                    <address class="copy">
                        <span id="design-footer-copyright-text">AMNIE Store - AMNIE Ltd.</span>
                    </address>
                </div>
            </div>
        </div>
    </section>
</div>
		</footer>

				-->


{{ footer }}