{{ header }}

<div class="banner" data-reactid="80">
  <div class="banner-img" data-reactid="81"><img src="{{ category_image }}">

  </div>
</div>



<div>
    <div class="module module-category">
        <div class="module-container">
            <div class="module-title"><i><img src="https://d2c6jjk3vnoatm.cloudfront.net/spree/taxons/140/normal/AU.png?1461132950"></i><span class="bold">{{ heading_title_ucfirst }}</span>
            </div>
            <div class="module-description"></div>
            <div class="module-items clearfix">
                <div class="module-wraper">
                    {% for product in products %}
                        <a class="item" href="{{ product.href }}">
                            <span class="border"></span>
                            <div class="image">
                                <span class="tag-amazon"></span>
                                <span class="tag-sellout"></span>
                                <img src="{{ product.thumb }}">
                            </div>
                            <div class="attr">
                                {#<ul class="color">#}
                                    {#<li><img src="Anker%20_%20Products_files/black.png"></li>#}
                                    {#<li><img src="Anker%20_%20Products_files/black.png"></li>#}
                                    {#<li><img src="Anker%20_%20Products_files/white.png"></li>#}
                                {#</ul>#}
                            </div>
                            <div class="title">{{ product.name }}</div>
                            <div class="description">
                                {{ product.description }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>






{{ footer }} 
