<!DOCTYPE html>
<html lang="en-US" class="uk-notouch"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  <meta name="generator" content="Aukeys 1.0.0">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>AMNIE Store</title>

    <!-- Css Section-->
    <link href="catalog/view/javascript/common/css.css" rel="stylesheet" type="text/css"><!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="https://www.betronstore.co.uk/media/css/68513c5f8f6720459446b174f175773d.css" media="all" />
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/common/f987c6bb71df9f4db224075b3a18f46e.css" media="all">
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/common/224c33443000f51f68a126fb69a877d7.css" media="print">
    <link rel="stylesheet" type="text/css" href="catalog/view/javascript/common/config-color.css" media="all">

    <link rel="stylesheet" type="text/css" media="screen" href="catalog/view/javascript/common/a_002.css">

    <link rel="stylesheet" type="text/css" media="screen" href="catalog/view/javascript/common/footer.css">
    <!-- Js Section
    
    <script type="text/javascript" src="catalog/view/javascript/common/0cbf2511e6fe2dd72b11bca7c8c64177.js"></script>
    <link href="http://www.betronstore.co.uk/rss/catalog/new/store_id/1/" title="New Products" rel="alternate" type="application/rss+xml">
    <link href="http://www.betronstore.co.uk/rss/catalog/special/store_id/1/cid/0/" title="Special Products" rel="alternate" type="application/rss+xml">
    <link href="http://www.betronstore.co.uk/rss/catalog/salesrule/store_id/1/cid/0/" title="Coupons/Discounts" rel="alternate" type="application/rss+xml">-->

    <link rel="stylesheet" id="wsl-widget-css" href="catalog/view/javascript/product-description/style_002.css" type="text/css" media="all">
    <link rel="stylesheet" id="easy-image-gallery-css" href="catalog/view/javascript/product-description/easy-image-gallery.css" type="text/css" media="screen">
    <link rel="stylesheet" id="theme-stylesheet-css" href="catalog/view/javascript/product-description/style.css" type="text/css" media="all">
    <!--[if lt IE 9]>
    <link href="https://www.aukey.com/wp-content/themes/aukeys/css/non-responsive.css" rel="stylesheet" type="text/css" />
    <style type="text/css">.col-full, #wrapper { width: 960px; max-width: 960px; } #inner-wrapper { padding: 0; } body.full-width #header, #nav-container, body.full-width #content, body.full-width #footer-widgets, body.full-width #footer { padding-left: 0; padding-right: 0; } body.fixed-mobile #top, body.fixed-mobile #header-container, body.fixed-mobile #footer-container, body.fixed-mobile #nav-container, body.fixed-mobile #footer-widgets-container { min-width: 960px; padding: 0 1em; } body.full-width #content { width: auto; padding: 0 1em;}</style>
    <![endif]-->
    <script type="text/javascript" src="catalog/view/javascript/jquery.js"></script>

    <meta name="msvalidate.01" content="368BC15FB79A265E551B1664E3024E92">
    <meta name="author" content="Betron Ltd.">
    <style>
        .price-box {display: none;}
        .products-grid > li{
            list-style-type: none;
        }
        .shipping {
            display:none;
            visibility:hidden;
        }
        @media only screen and (max-width: 770px) {
            .fulldesc {
                display: none;
                visibility:hidden;
            }
            .footer .links {
                width: 22.65625%;
                padding-right: 0;
                margin-right: 3.125%;
            }
            .footer .block-subscribe {
                clear: both;
                width: 100%;
                margin:20px;
            }
        }
        @media only screen and (max-width: 1199px) {
            .footer .links {
                width: 22.65625%;
                padding-right: 0;
                margin-right: 3.125%;
                margin-top:20px;
            }

            .footer .block-subscribe {
                clear: both;
                width: 100%;
                margin: auto;
                width: 60%;
            }
        }
        @media only screen and (max-width: 599px) {
            .footer .links {
                width: 100%;
            }
            .footer .links:nth-child(odd) {
                margin-right: 3.125%;
                clear: both;
            }

        }

        .add-to-cart-buttons-amazon{
            margin-right:2%; color:#000; border:1px solid #000;border-radius:5px;text-shadow:1px 1px 1px #FFF1D1;background:#FCD262;font-family:Arial; text-transform:inherit;width:200px;height:40px; font-size:18px;
        }
        .add-to-cart-buttons-amazon:hover{background:#FFB70B;}
        .videoWrapper {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;
        }
        .videoWrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        /*  SECTIONS  */
        .section {
            clear: both;
            padding: 0px;
            margin: 0px;
        }

        /*  COLUMN SETUP  */
        .col {
            display: block;
            float:left;
            margin: 1% 0 1% 1.6%;
        }
        .col:first-child { margin-left: 0; }

        /*  GROUPING  */
        .group:before,
        .group:after { content:""; display:table; }
        .group:after { clear:both;}
        .group { zoom:1; /* For IE 6/7 */ }
        /*  GRID OF TWO  */
        .span_2_of_2 {
            width: 100%;
        }
        .span_1_of_2 {
            width: 70%;
            vertical-align:middle;
        }
        .span_1_of_1 {
            width: 20%;
            margin:20px;
            text-align:center;

        }
        .span_1_of_1 img {
            width:200px;
            height:200px;
            margin:40px;
        }
        /*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

        @media only screen and (max-width: 480px) {
            .col {
                margin: 1% 0 1% 0%;
            }
        }

        @media only screen and (max-width: 480px) {
            .span_2_of_2, .span_1_of_2 { width: 100%; }
        }
        .breadcrumbs h1{color: #fff;background-color: rgba(0, 0, 0, 0.2);}
        .breadcrumbs ul{display:none;}



    </style>
    {#<link rel="stylesheet" id="wsl-widget-css" href="catalog/view/javascript/1_files/style67d0.css" type="text/css" media="all">#}
    {#<link rel="stylesheet" id="theme-stylesheet-css" href="catalog/view/javascript/1_files/style8a54.css" type="text/css" media="all">#}
    {#<link rel="shortcut icon" href="https://www.aukey.com/themes/aukeys/Public/assets/images/favicon.png" type="image/x-icon">#}

    <script async="" src="catalog/view/javascript/1_files/analytics.js"></script><script type="text/javascript" src="catalog/view/javascript/1_files/jqueryb8ff.js">
    </script> <script type="text/javascript" src="catalog/view/javascript/1_files/script68b3.js"></script> <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-87771928-1', 'auto');
        ga('send', 'pageview');

    </script> <script type="text/javascript">/* <![CDATA[ */
        var ajax_object = {
            "ajaxurl": "/user/user/doregister"
        };
        /* ]]> */
    </script> <style type="text/css">
        img.wp-smiley,img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
        .recentcomments a{
            display:inline !important;
            padding:0 !important;
            margin:0 !important;
        }
    </style> <title>Optic Pro 3-in-1 Smartphone Lens Set</title>
    <style>
        /*2017/4/27 s*/
        .clearfix:before,.clearfix:after{
            content:"";
            display:table;
        }
        .clearfix:after{clear:both;}
        #c-slider img{
            width:100%;
            height:100%;
        }
        .c-if-img{
            position:relative;
        }
        .c-if-img img{
            width:100%;
        }
        /*一个视屏*/
        .c-if-one-video{

        }
        .c-if-one-video .c-one-video{
            width:100%;
            vertical-align: middle;
        }
        .uk-dotnav>*>*{
            width:10px;
            height:10px;
        }
        /*六个视频*/
        .c-if-six-video{
            box-sizing: border-box;
            padding: 4px 4px 4px 0px;

        }
        .c-if-six-video *{
            box-sizing: border-box;
        }
        .c-six-video{
            width:33.33%;
            padding-left: 4px;
            float:left;
        }
        .uk-dotnav{
            display: block;
        }
        /*onpage description star描述*/
        #c-uk-accordion{
            margin:0;
            padding:0 5%;
            position:relative;
            background:#eee;

        }
        #c-uk-accordion>h3{
            padding:0!important;
            margin:0!important;
            width:11px;
            position:absolute!important;
            top:-60px;
            right:5%;
        }
        /*onpage description end描述*/
        /*2017/4/27 e*/
        .index-model-0,.index-model-1,.index-model-2,.index-model-3{
            font-family: RobotoThin;
            position:absolute;
            top:50%;
            left:5%;
            right:57%;
            -ms-transform:translateY(-50%);
            -moz-transform:translateY(-50%)	;
            -webkit-transform:translateY(-50%);
            -o-transform:translateY(-50%) ;
            transform:translateY(-50%);
        }
        .index-color-1{  /*颜色二*/
            color:rgb(0,0,0);
        }
        .index-color-0{
            color:rgb(255,255,255);
        }
        .index-model-2{ /*布局二*/
            left:30%;
            right:30%;
            text-align: center;
        }
        .index-model-3{/*布局三*/
            left:57%;
            right:5%;
        }
        .index-title{
            font-weight: bold;
            font-size:6em;
            line-height:2em;
            margin:0;
        }
        .index-futitle{
            margin:0;
            font-size:2.6em;
            margin-bottom:1.2em;
            line-height: 1.5em;

        }
        .index-btn{
            font-size:3em;
            padding:0.67em 1.33em;
            display: inline-flex;
            justify-content:center;
            font-weight: bold;
            background:#00a990;
            transition: all 300ms ease;
            outline: none;
            border:none;
            border-radius: 0.16em;
            color:#fff;
        }
        .index-btn:hover{
            background: #15bc9c ;
        }
        .is-btn-1{
            display:inline-block;
        }
        .is-btn-0{
            display: none;
        }
        .title-color-0{  /*深色图片*/
            color:rgb(255,255,255);
        }
        .title-color-1{  /*浅色图片*/
            color:rgb(0,0,0);
        }
        @media screen and (max-width:768px) {
            .index-model-0, .index-model-1, .index-model-2, .index-model-3 {
                font-size: 1px;
            }

            .index-futitle {
                font-size: 5em;
            }

            .index-title {
                font-size: 5.5em;
            }
        }
        @media screen and (min-width:768px){
            .index-model-0, .index-model-1,.index-model-2,.index-model-3{
                font-size:6px;
            }

        }
        @media screen and (min-width:1200px){
            .index-model-0, .index-model-1,.index-model-2,.index-model-3{
                font-size:7px;
            }

        }
        @media screen and (min-width:1500px){
            .index-model-0, .index-model-1,.index-model-2,.index-model-3{
                font-size:10px;
            }

        }

        .uk-dotnav{
            display:flex;
        }
        .c-if-six-video-2{
            padding-top:0px;
        }
        .uk-margin-large-bottom {
            margin-bottom: 0 !important;
        }
        a.uk-navbar-brand.logo {
            margin-left: 4%;
        }
        /*ccccccccccccccc*/
        .c-slider{
            position:relative;
            overflow: hidden;
        }
        .c-slider-ul{
            overflow: hidden;
        }
        .c-slider-ul img{
            width:100%;
            height:auto;

        }
        .c-slider-nav{
            position: fixed;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            width: 8px;
            display: none;
        }
        .c-slider-nav li{
            display: inline-block;
            width: 8px;
            height: 8px;
            background: #fff;
            border-radius: 20px;
            cursor: pointer;
        }
        .c-slider-nav li.active{
            background:#00a990;
        }
        .c-slider-item{
            position:relative;
        }
        /*ccccccccccccccccccc*/
        .show-sku {
            font-size: 22px;
            color: #00a990;
            margin: 0;
            line-height: 1em!important;
        }
        .uk-slideset a img {
            border: 1px solid #ccc;
        }
        .uk-slideset a.uk-active img {
            border: 1px solid #00a990;
        }

    </style> <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -100px !important;
            width: 200px !important;
            border: 2px rgba(255,255,255,.38) solid !important;
            border-radius: 4px !important;
        }

        .en-markup-crop-options div div:first-of-type {
            margin-left: 0px !important;
        }
    </style>
</head>



<header>
    <div id="header-v7" class="header-v7 sticky-menu">
        <div class="top-content sticky-elements">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12 mobile-topbar">
                        <div class="logo-container">
                            <h1 class="logo">
                                <a href="/" title="AMNIE Store" class="logo">
                                    <img src="catalog/view/javascript/common/logo-white-border.png" alt="AMNIE Store">
                                </a>
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-3 col-xs-0 menu-7">
                        {{ menu }}
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle menu-button" data-toggle="collapse" data-target=".nav-main-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>


<div class="uk-width-medium-4-5 uk-container uk-container-center uk-margin-large uk-block uido comm_margin_top_10" style="margin-top:120px;">

    <div data-uk-grid-margin="" class="uk-grid ">

        <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-row-first">

            <h1 class="uk-article-title uk-hidden-medium uk-hidden-large uk-text-center-small">Optic 3-in-1 Smartphone Lens Set</h1>


            <div class="uk-slidenav-position" data-uk-slideshow="{duration:100}">

                <div class="uk-grid uk-grid-small ui segment basic refresh-gallery">

                    <div class="uk-hidden-small uk-width-1-6">

                        <div class="color-switcher" data-uk-slideset="{controls: '#color-switcher',default: 5,animation: 'scale', duration: 00}">
                            <div class="uk-slidenav-position">
                                {% if images %}
                                <ul class="uk-slideset uk-grid uk-flex-center uk-flex-column uk-grid-width-1-5">
                                    {% for image in images %}
                                        {% set num = loop.index-1 %}
                                        {% if loop.index < 2 %}
                                            <li data-uk-filter="" class="uk-margin-bottom uk-thumbnail-expand uk-active" style="">
                                                <a data-uk-slideshow-item="{{ num }}" class="uk-active">
                                                    <img src="{{ image.thumb }}" width="150" height="150">
                                                </a>
                                            </li>
                                        {% else %}
                                            <li data-uk-filter="" class="uk-margin-bottom uk-thumbnail-expand uk-active" style="">
                                                <a data-uk-slideshow-item="{{ num }}">
                                                    <img src="{{ image.thumb }}" width="150" height="150">
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-5-6 uk-width-large-5-6">
                        {% if images %}
                            <ul class="uk-slideshow" style="height: 501px;">
                                {% for image in images %}
                                    {% if loop.index < 2 %}
                                        <li aria-hidden="false" class="uk-active" style="height: 501px;">
                                            <div class="uk-cover-background uk-position-cover" style="background-image: url('{{ image.popup }}');">

                                            </div>
                                            <canvas width="500" height="500" style="width: 100%; height: auto; opacity: 0;"></canvas>
                                        </li>
                                    {% else %}
                                        <li aria-hidden="true" style="height: 501px;">
                                            <div class="uk-cover-background uk-position-cover" style="background-image: url('{{ image.popup }}');">

                                            </div>
                                            <canvas width="500" height="500" style="width: 100%; height: auto; opacity: 0;"></canvas>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="color-switcher uk-visible-small uk-margin-top" data-uk-slideset="{controls: &#39;#color-switcher&#39;,filter: &#39;black&#39;,default: 5, animation: &#39;slide-horizontal&#39;, duration: 100}">
                            <div class="uk-slidenav-position">
                                {% if images %}
                                    <ul class="uk-slideset uk-grid uk-flex-center uk-flex-column uk-grid-width-1-5">
                                        {% for image in images %}
                                            {% set num = loop.index-1 %}
                                            {% if loop.index < 2 %}
                                                <li class="uk-text-center c-uk-text-center uk-active" data-uk-filter="black" style="">
                                                    <a data-uk-slideshow-item="{{ num }}">    </a>
                                                </li>
                                            {% else %}
                                                <li class="uk-text-center c-uk-text-center" data-uk-filter="black" style="">
                                                    <a data-uk-slideshow-item="{{ num }}">    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-article uk-width-small-1-1 uk-width-medium-1-2 mainc">
            <h1 class="uk-text-xlarge">{{ heading_title }}</h1>
            <p class="show-sku">{{ sku }}</p>
            <p class="uk-hidden-small coltitle"></p>
            <form class="ui form amazonform uk-margin-large-top uk-text-center-small" id="amazoncountry">
                <ul>
                    <li>
                            <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;\u25cfOptic 3-in-1 Lens Kit includes Wide Angle + Macro + Fisheye Lenses to adapt to a variety of photography scenarios - Travel photos, flowers, unique selfies, or detailed close-ups \n\u25cfEasily affix the lenses with perfect alignment to any mobile device with included clips&quot;}" data-sheets-userformat="{&quot;2&quot;:15107,&quot;3&quot;:{&quot;1&quot;:2,&quot;2&quot;:&quot;0.00_ &quot;,&quot;3&quot;:1},&quot;4&quot;:{&quot;1&quot;:2,&quot;2&quot;:16777215},&quot;11&quot;:4,&quot;12&quot;:0,&quot;14&quot;:{&quot;1&quot;:2,&quot;2&quot;:1118481},&quot;15&quot;:&quot;Calibri&quot;,&quot;16&quot;:10}">
                            {{ description }}
                            </span>
                    </li>
                </ul>						<div class="field">
                    <div class="ui dropdown selection" tabindex="0">
                        <input name="amazoncountry" value="{{ us_location }}" type="hidden">
                        <div class="text">America</div>
                        <i class="dropdown icon" tabindex="0"><div class="menu" tabindex="-1"></div></i>
                        <div class="menu transition hidden" tabindex="-1">
                            <div class="item" data-value="{{ jp_location }}">Japan</div>
                            <div class="item" data-value="{{ us_location }}">America</div>
                            <div class="item" data-value="{{ it_location }}">Italy</div>
                            <div class="item" data-value="{{ es_location }}">Spain</div>
                            <div class="item" data-value="{{ fr_location }}">France</div>
                            <div class="item" data-value="{{ de_location }}">Germany</div>
                            <div class="item" data-value="{{ uk_location }}">Britain</div>
                        </div>
                    </div>
                    <a class="ui primary basic big button submit uk-width-medium-1-1 buyonamazon" href="{{ us_location }}">Buy on Amazon</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="video-list preload"></div>
<!-- 底部                            -->
<div class="Footer" data-reactid="156">
    <div class="Empty" data-reactid="157"></div>
    <div class="module-container" data-reactid="158">
        <div class="table" data-reactid="159">
            <div class="cell" data-reactid="160">
                <div class="subscribe " data-reactid="161">
                    <form data-reactid="162">
                        <h3 data-reactid="163">Subscribe</h3>
                        <p data-reactid="164">Be the first to know about our latest products.</p>
                        <div class="input" data-reactid="165">
                            <input placeholder="Enter your email address" data-reactid="166" type="text" />
                        </div>
                        <div class="submit" data-reactid="167">
                            <a data-reactid="168">SUBMIT</a>
                        </div>
                    </form>
                </div>
                {#<div class="follow" data-reactid="169">#}
                {#<a target="_blank" class="community" href="https://community.anker.com/" data-reactid="170"><i class="iconfont" data-reactid="171"></i></a>#}
                {#<a target="_blank" class="facebook" href="http://www.facebook.com/Anker.fans" data-reactid="172"><i class="iconfont" data-reactid="173"></i></a>#}
                {#<a target="_blank" class="twitter" href="https://twitter.com/Ankerofficial" data-reactid="174"><i class="iconfont" data-reactid="175"></i></a>#}
                {#<a target="_blank" class="google" href="https://plus.google.com/114663344536204280808" data-reactid="176"><i class="iconfont" data-reactid="177"></i></a>#}
                {#<a target="_blank" class="youtube" href="http://www.youtube.com/user/AnkerOceanwing" data-reactid="178"><i class="iconfont" data-reactid="179"></i></a>#}
                {#<a target="_blank" class="instagram" href="http://instagram.com/anker_official?ref=badge" data-reactid="180"><i class="iconfont" data-reactid="181"></i></a>#}
                {#<a target="_blank" class="periscope" href="http://www.periscope.tv/AnkerOfficial" data-reactid="182"><i class="iconfont" data-reactid="183"></i></a>#}
                {#</div>#}
            </div>
            <div class="links cell" data-reactid="184">
                <div class="linklist " data-reactid="185">
                    <h3 data-reactid="186">
                        <!-- react-text: 187 -->About
                        <!-- /react-text --><i class="iconfont" data-reactid="188"></i></h3>
                    <ul data-reactid="189">
                        <li class="" data-reactid="190"><a href="/index.php?route=description/aboutUs" data-reactid="191">About Us</a></li>
                        <li class="" data-reactid="192"><a href="index.php?route=description/aboutUs/contact" data-reactid="193">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="contact cell" data-reactid="222">
                <div class="tels" data-reactid="223">
                    <h4 data-reactid="224">Call us</h4>
                    <div data-reactid="225">
                        <p data-reactid="226"><a href="tel:+1%28800%299887973" data-reactid="227">+1 (800) 988 7973 (US)</a></p>
                        <p data-reactid="228">Mon to Fri 9AM - 5PM(PT)</p>
                    </div>
                    <div data-reactid="229">
                        <p data-reactid="230"><a href="tel:+44%280%291604936200" data-reactid="231">+44 (0) 1604 936200 (UK)</a></p>
                        <p data-reactid="232">Mon to Fri 6AM - 11AM(GMT)</p>
                    </div>
                </div>
                <div class="email" data-reactid="233">
                    <h4 data-reactid="234">Email</h4>
                    <p data-reactid="235"><a href="mailto:support@AMNIE.com" data-reactid="236">support@AMNIE.com</a></p>
                </div>
            </div>
        </div>
        <div class="clearfix sub" data-reactid="237">
            <p class="copyright" data-reactid="238">Copyright &copy; 2017 AMNIE Technology Co. Limited</p>
            <div class="country" data-reactid="239">
                <a href="https://www.AMNIE.com/country" data-reactid="240"><span data-reactid="242">United States</span></a>
            </div>
        </div>
    </div>
    <div class="backTop hide" data-reactid="243">
        <i class="iconfont" data-reactid="244"></i>
        <span data-reactid="245">Back to the Top</span>
    </div>
</div>

<div style="display: none;"></div>
</div>	<a class="scroll-to-top"><i class="fa fa-arrow-up"></i></a></div>
 <script>
    jQuery(function(){
        var $ = jQuery;
        if($("#c-slider").length==0){return}
        var $ = jQuery;
        var len = $("#c-slider>ul>li").length;
        var navLi = ["<ol class='c-slider-nav'>"];
        for(var i=0;i<len;i++){
            navLi.push("<li></li>");
        }
        navLi.push("</ol>");
        navLi = navLi.join("");
        $("#c-slider").append(navLi);
        $("#c-slider>ul>li").eq(0).addClass("active");
        $("#c-slider>ol>li").eq(0).addClass("active");
        $("#c-slider>ol>li").click(function(){
            var index = $(this).index();
            var star = $("#c-slider").offset().top;
            var height = $(window).height();
            var distan = (len-1)*height/len;
            var total = index*distan+star+10;
            $("body").scrollTop(total);
        });
        $(window).scroll(function(){
            var ops = {
                start:0,
                height:0,
                liNumber:0,
                liObjs:$("#c-slider>ul>li"),
                distan:0,
                scrollT:$("body").scrollTop(),
                olLi:$("#c-slider>ol>li")

            }
            ops.start = $("#c-slider").offset().top;
            ops.height = $(window).height();
            ops.liNumber = ops.liObjs.length;
            $("#c-slider,#c-slider>ul").height(ops.liNumber*ops.height);
            ops.distan = (ops.liNumber-1)*ops.height/ops.liNumber;
            ops.liObjs.height(ops.height);
            if( ops.scrollT>= ops.start){   //开始固定定位
                ops.liObjs.css({
                    "position": "fixed",
                    top:0,
                    bottom:"auto",
                });
                for(var i=0;i<ops.liNumber;i++){
                    if(ops.start+ops.distan*i<ops.scrollT&&ops.scrollT<ops.start+ops.distan*(i+1)){ //滑动在什么位置显示 那张图
                        ops.liObjs.eq(i).addClass("active").siblings(".active").removeClass("active");
                        ops.liObjs.eq(i).show().siblings().hide();
                        ops.olLi.eq(i).addClass("active").siblings(".active").removeClass("active");
                        $("#c-slider>ol").css({"display":"block"})
                    }
                    if(ops.scrollT>ops.start+ops.liNumber*ops.distan){ //如果滑动到最后一张图片
                        ops.liObjs.css({
                            "position": "absolute",
                            top:0
                        });
                        ops.liObjs.eq(ops.liNumber-1).css({
                            bottom:0,
                            top:"auto"
                        });
                        $("#c-slider>ol").css({"display":"none"})
                    }
                }
            }else if(ops.scrollT<ops.start){
                ops.liObjs.css({
                    "position": "absolute",
                    top:0
                });
                $("#c-slider>ol").css({"display":"none"})
            }
        });
    })
</script>
</body></html>